<div class="tab-content">
  <div class="tab-pane active" id="comments-logout">
    <ul class="media-list">
      <li class="media">
        <div class="media-body">
          <div class="well well-lg">
            <h4 class="media-heading text-uppercase reviews"><%= name %> </h4>
            <p class="media-comment">
              <%= raw content %>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>